.fieldsContainer {
  display: flex;
  gap: 20px;
}
.singleSelect {
  margin-top: 0;
}

.weekContainer {
  display: flex;
  width: 100%;
  height: 40px;
  border: 1px solid lightgray;
  gap: 1px;
  background-color: rgb(170, 170, 170);
  margin: 10px 0 20px;
}
.weekName {
  flex: 1;
  background-color: rgb(180, 210, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  cursor: pointer;
  text-transform: capitalize;
  color: rgb(42, 42, 42);
}
.activeWeekName {
  background-color: rgb(65, 113, 187);
  color: rgb(255, 255, 255);
}
.weekName:hover {
  background-color: rgb(65, 113, 187);
  color: rgb(255, 255, 255);
}
