.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.canvasContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  font-size: 12px;
}
.cropContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
