.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.fieldLabel {
  line-height: 18px;
  font-weight: 700;
  color: var(--dark);
  text-transform: capitalize;
  padding-left: 8px;
}
.inputWrapper {
  display: flex;
  justify-content: space-between;
  padding: 16px 24px 15px;
  border: 2px solid var(--grey-3);
  width: 100%;
  border-radius: 10px;
  margin-top: 10px;
}
.inputWrapper span {
  cursor: pointer;
  font-size: 14px;
}

.inputWrapper:hover {
  border: 2px solid var(--primary);
}
.fieldError {
  color: var(--error);
  font-size: 14px;
  text-transform: capitalize;
  margin-top: 8px;
  padding-left: 8px;
}
.inputFieldError {
  border: 2px solid var(--error);
}
