.container {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  border-bottom: 0.1px solid lightgray;
  min-height: 60px;
}
.openImage {
  height: 20px;
  width: 20px;
  cursor: pointer;
}
.rightBox {
  display: flex;
  gap: 15px;
  align-items: center;
  text-transform: capitalize;
  cursor: default;
}
.profileBox {
  display: flex;
  gap: 15px;
  align-items: center;
  text-transform: capitalize;
  cursor: default;
  margin-left: 10px;
}
.userName {
  font-weight: 700;
}
.userRole {
  font-weight: 400;
  font-size: 12px;
}
.profileText {
  display: flex;
  background-color: black;
  color: white;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}
.hamburgerMenuIcon {
  padding: 0 10px;
  display: none;
}
.orgLogo {
  height: 40px;
  padding: 0 10px;
  width: max-content;
  background-color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
  display: none;
}
.academicYear {
  color: var(--primary);
  font-size: 14px;
  margin-left: 10px;
}
/* ========================================= MEDIA QUERY ========================================== */

@media screen and (max-width: 770px) {
  .container {
    padding: 10px 10px;
  }

  .hamburgerMenuIcon {
    display: flex;
  }
  .profileBox {
    display: none;
  }
  .rightBox {
    gap: 5px;
  }
  .orgLogo {
    display: flex;
  }
}
@media screen and (max-width: 450px) {
  .container {
    padding: 10px 5px;
  }
}
@media screen and (max-width: 400px) {
  .container {
    padding: 10px 2px;
  }
}
@media screen and (max-width: 300px) {
  .orgLogo {
    padding: 0 3px;
    height: 30px;
  }
}
