.container {
  display: flex;
}
.center {
  justify-content: center;
}
.end {
  justify-content: flex-end;
}
.between {
  justify-content: space-between;
}
.around {
  justify-content: space-around;
}
.evenly {
  justify-content: space-evenly;
}
.alignCenter {
  align-items: center;
}
.fullWidth {
  width: 100%;
}
