.container {
  width: 100%;
}
.cardsContainer {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.cardContainer {
  width: 100%;
  border-radius: 8px;
  background-color: antiquewhite;
  display: flex;
  align-items: center;
  padding: 10px 20px;
}
.cardContent {
  width: 150px;
}
.tableContainer {
  max-height: calc(100vh - 285px);
  overflow-y: scroll;
}
