/* =================================================== settingsContainer ========================= */
.settingsContainer {
  width: 100%;
  padding-left: 25px;
  /* margin-top: 2px; */
}
.settingsInnerContainer {
  width: 100%;
  padding: 20px;
  border: 1px solid var(--grey-3);
  border-top: 1px solid var(--grey-2);
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.settingsBox {
  padding: 0 5px;
  height: 90px;
  border: 1px solid var(--grey-3);
  border-radius: 4px;
  box-shadow:
    0 1px 2px 0 rgba(0, 0, 0, 0.115),
    0 2px 5px 0 rgba(0, 0, 0, 0.071);
}
