.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: 125px;
  padding-right: 20px;
}
.formContainer {
  width: 450px;
  min-width: 250px;
  margin-top: 50px;
}
.fieldContainer {
  margin-top: 20px;
}
.forgotPasswordText {
  font-weight: 400;
  color: var(--grey-4);
  margin-top: 20px;
  cursor: pointer;
  margin-left: 5px;
}
.loginButton {
  margin-top: 20px;
}

/* ======================================================= */
@media only screen and (max-width: 800px) {
  .container {
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
    margin-top: 80px;
  }
  .formContainer {
    width: 100%;
    margin-top: 0px;
  }
}
